@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:lightpink;
}

::selection{
    color: #fff;
    background:red;
}

.main{
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}


.main h1{
    color: deeppink;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.main form{
    height: 170px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed palevioletred;
}

form i,p{
    color:deeppink;
}

form i{
    font-size: 50px;
}

form p{
    margin-top: 15px;
    font-size: 20px;
}

section .row{
    margin-bottom: 10px;
    background:blanchedalmond;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i{
    color: palevioletred;
    font-size: 30px;
}


section .details span{
    font-size: 15px;
}

.progress-files .row .content{
    width: 100%;
    margin-left: 15px;
}

.progress-files .details{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
}

.progress-files .content .progress-load{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: white;
    border-radius: 30px;
}

.content .progress-load .progress{
    height: 100%;
    width: 0%;
    background-color: palevioletred;
    border-radius: inherit;
}

.uploaded-files{
    max-height: 230px;
    overflow-y: scroll;
}

.uploaded-files.onprogress{
    max-height: 150px;
}

.uploaded-files::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-files .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-files .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-files .row .details .size{
    color: #404040;
    font-size: 11px;
  }